<h1>Kenya Donor and Government Funded Projects</h1>

<div id="main-map"></div>

<label>
  Cluster Map Markers
  <input id="clusterCheckBox" type="checkbox" name="cluster" />
</label>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibWFya3JsaSIsImEiOiJjajBzeGptcm0wNGl2Mndqd3dzbWJ5MXdoIn0.6X8tRTfMn_tIZBBORINNfw';
  var map = new mapboxgl.Map({
    container: 'main-map',
    style: 'mapbox://styles/mapbox/streets-v9'
  });
</script>
